@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

body {
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

.clearfixx {
    display: block;
    width: 100%;
    clear: both;
}

.content {
    margin: 0 auto;
    padding: 40px;

    h1, h2, h3, p {
        clear: both;
    }
}

.burger-menu {
    display: block;
    position: fixed;
    width: 100%;
    top: 120px; left: 0; bottom: 0;
    z-index: 9001;
    background: #fff;
    padding: 0 15px;

    ul {
        margin-top: 10px;

        li {
            display: block;
            width: 100%;
            text-align: center !important;
            border-bottom: 2px solid #fff;
            margin-top: 10px;
            cursor: pointer;

            &.active {
                border-bottom: 2px solid #444;
            }
        }
    }
}

.footer-content {
    margin: 0 auto;
    padding: 40px 0;

    .footer-section {
        float: left;
        padding-bottom: 40px;

        ul {
            padding: 0;

            li{
                display: block;
                padding: 5px 0;
                width: 100%;

                &:hover {
                    border-bottom: 2px solid #fff;
                }

                a {
                    color: #333;
                }
            }
        }
    }
}

.inner {
    max-width: 1364px;
    padding: 40px 0;
}

.inner-centered {
    max-width: 1364px;
    padding: 40px 20px;
    margin: 0 auto;
}

.filters-scrollable {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.filter {
    margin: 0 10px 10px 10px;
    line-height: 35px !important;
    height: 35px !important;
    color: #666;
}

.filter-small {
    display: inline-block;
    margin-right: 5px;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    
    &:hover {
        border-color: #666;
    }

    &.active {
        background: #74C2FF;
    }
}

.filter-go {
    background: none;
    border: none;
    height: 35px;
    line-height: 35px;

    i {
        font-size: 1.5em;
        margin-left: 15px;
    }
}

.filter-block {
    margin-top: 25px;
    padding: 25px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;

    h6 {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    label {
        padding-left: 5px;
    }
    
    .sort-select {
        height: 30px !important;
        border-radius: 15px !important;
        padding: 0 10px !important;
    }
    
    .sort-label {
        display: block;
        float: right;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin: 25px 25px 0 0;
    }
}

.clear-filters {
    display: block;
    padding: 25px 0 0 0;
    margin-top: 25px;

    span, i {
        color: #0071bc;
        cursor: pointer;
    }
}

input.price-filter {
    height: 30px !important;
    border-radius: 15px !important;
    width: 35% !important;
    padding: 0 10px !important;
    margin-right: 5px;
}

.price-check {
    font-size: 1.1em;
    color: #0071bc;
}

input[type="text"], input[type="number"], select {
    background: #f0f0f0;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    padding: 0 20px;
    width: 100%;
    transition: all .2s linear;
    font-size: 1.2em;

    &:hover {
        border-color: #ccc;
    }

    &:focus {
        border-color: #ccc;
        background-color: #fff;
        outline: none;
    }
}

.seasonal-image {
    display: inline-block;
    height: 220px;
    border-radius: 8px;
    margin: 20px 10px;
    background-size: cover !important;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform .1s;

    &:hover {
        box-shadow: 0 0 15px #666;
    }
}

.left-align {
    text-align: left !important;
}

.product {
    padding: 5px;
    width: 100%;

    .product-inner {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 5px;
        position: relative;

        &:hover > a .visit-store {
            display: block;
        }
    }

    .product-text {
        padding: 10px;
    }

    .visit-store {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100% - 60px);
        left: 0; right: 0;
        background: rgba(255, 255, 255, 0.6);
        z-index: 8999;

        p {
            display: block;
            border-radius: 25px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            padding: 0 15px;
            background: #0071bc;
            color: #fff;
            width: 60%;
            margin: 125px auto 0 auto;
            font-weight: bold;

            i {
                color: #fff;
            }
        }
    }

    &.basic {
        display: inline-block;
        text-align: left;
        line-height: 0.5em;
        padding: 10px;
        vertical-align: top;

        .image {
            display: block;
            width: 100%;
            height: 260px;
            border-radius: 2px;
            background-size: contain !important;
            background-position: 50% 50% !important;
            background-repeat: no-repeat !important;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .discount {
            display: block;
            position: absolute;
            top: 15; left: 5px;
            border-radius: 15px;
            height: 30px;
            line-height: 30px;
            background: rgba(80, 158, 89, 0.9);
            color: #fff;
            padding: 0 10px;
            border: 1px solid #fff;
        }
    }

    &.large {
        display: inline-block;
        text-align: left;
        line-height: 0.5em;

        .image {
            display: block;
            width: 100%;
            height: 220px;
            display: inline-block;
            border-radius: 2px;
            background-size: cover !important;
            background-position: 50% 50% !important;
            cursor: pointer;
            margin-bottom: 10px;
        }
    }

    h5 {
        display: block;
        font-size: 1.2em;
        line-height: 28px;
        color: #222;
    }

    h6 {
        display: block;
        font-size: 0.9em;
        line-height: 25px;
        color: #222;
    }

    a {
        color: #333;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        font-size: 0.9em;

        &.merchant {
            color: #666;
        }

        &.compare-link {
            color: #0071bc;
            padding: 10px 0 0 0;
            font-size: 1.1em;
            line-height: 1.1em;
        }

        &.price {
            font-weight: bold;
            font-size: 1.1em;
            padding-top: 10px;
        }

        .shipping {
            color: #666;
            padding-bottom: 10px;
            display: block;

            &.free {
                color: #509E59;

                i {
                    color: #509E59;
                }
            }
        }
    }
}

.product-single {
    margin-bottom: 25px;
}

.product-offers {
    table {
        width: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 8px !important;

        tr {
            border-bottom: 1px solid #e0e0e0;

            th {
                color: #666;
                height: 45px;
                line-height: 45px;
            }

            td {
                height: 60px;
                line-height: 60px;
            }

            th, td {
                padding: 0 10px;
            }
        }
    }

    .green {
        color: #509E59;
    }

    .red {
        color: #FF665A;
    }

    .visit-store-link {
        display: block;
        border-radius: 20px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        padding: 0 15px;
        background: #0071bc;
        color: #fff
    }

    .offer-feature {
        color: grey;
        display: inline-block;
        margin-right: 5px;
        border: 1px solid #e0e0e0;
        border-radius: 13px;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        font-size: 0.9em;
    }
}

.offer-disclaimer {
    margin-top: 40px;
    color: grey;
}

footer {
    .copyright {
        background: #2F466C;

        &.light {
            background: #eaeaea;
            
            p {
                color: #666;
            }
        }

        p {
            display: inline;
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}

.cookie-disclaimer {
    display: block;
    width: 100%;
    min-height: 40px;
    background: #eaeaea;
    padding: 15px;
    margin: 0;

    p {
        color: #333;
        line-height: 20px;
        min-height: 40px;
        padding: 10px 15px;
        margin: 0;
    }

    button {
        border: none;
        background: #0071bc;
        color: #fff;
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }

    i {
        color: #333;
        margin-left: 10px;
        cursor: pointer;
    }
}

.error-code {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}